.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #6da305;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: rgb(251, 186, 0);
  text-decoration: underline;
}
